.header {
    background-color: #0d3f36;
    color: rgb(227, 238, 242);
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px;
    text-align: center;
}


@media (prefers-color-scheme: dark) {
    .header {
        background-color: rgb(227, 238, 242);
        color: #0d3f36;
    }
}