.header {
    background-color: #0d3f36;
    color: rgb(227, 238, 242);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Source Sans Pro", sans-serif;
}

.title {
    margin: auto;
}

.logout {
    margin-right: 15px;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .header {
        background-color: rgb(227, 238, 242);
        color: #0d3f36;
    }
}