.inputWrapper {
    text-align: center;
}
.input {
display: block;
}
.selectedFile {
    max-width: 50%;
}
.textInput {
    width: 400px;
}
.imgSelect {
 font-size: 25px;
 cursor: pointer;
}
.post {
    padding: 5px 20px;
    font-size: large;
}