
.loginmiddleofpage {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: larger;
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    cursor: pointer;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: white;
    width: 500px;
    margin: 30px auto;
    cursor: pointer;
    font-size: larger;
}

.glogo {
margin: 2px;
}
.prompt {
margin: 2px;
}