.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: white;
    width: 50%;
    margin: 30px auto;
    cursor: pointer;
    font-size: larger;
}

.glogo {
margin: 2px;
}
.prompt {
margin: 2px;
}
.loginPrompt {
    text-align: center;
}

