.footer {
    border-top: 0.5px solid grey;
    color: rgb(227, 238, 242);
}
.footContent {   
    background-color: #313122;
    padding-bottom: 20px;
}

.socialLinks {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socialLink {
    padding: 20px;    
}

.copyright {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 0;
}

@media (max-width: 800px) {
   .info {
       font-size: 16px;
   } 

   .copyright {
    font-size: 14px;
}
}
@media (max-width: 350px) {
     .copyright {
    font-size: 10px;
}
}

