html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bitter', serif;
  background-color: rgb(194, 213, 213);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  .body {
    background-color: #051412;
    color: rgb(227, 238, 242);
  }
}

