html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bitter', serif;
  background-color: rgb(194, 213, 213);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (max-width: 1000px) {
  
}