.homePage {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:   
    "intro intro"
    "user user"
    "feed side"
    ;
}

.user {
  margin: 20px;
  grid-area: user;
  background-color: white;
  padding: 15px;
}
.userNameImg {
    display: flex;
    align-items: center;
}

.logout {
  cursor: pointer;
  text-align: right;
  margin-right: 30px;
  font-weight: bold;
}

.usersImg {
  border-radius: 50%;
  margin-right: 15px;
}

.feed {
  grid-area: feed;
}
.sidebar {
  grid-area: side;
  background-color: rgb(246, 247, 140);
}


@media (max-width: 800px) {
.homePage {
    grid-template-areas:   
    "intro intro"
    "user user"
    "feed feed"
    "side side"
    ;
}
}
