.page {
padding-bottom: 50px;

}
.welcome {
    text-align: center;
    padding: 20px;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}
.construction {
    text-align: center;
    font-size: 25px;
    margin: 0;
}

.user {
    display: flex;
    margin: 20px;
    align-items: center;
}
.usersImg {
    border-radius: 50%;
    margin-right: 15px;
}
.info {
   
}
.layout {
    display: flex;
}

@media (prefers-color-scheme: dark) {
    .page {
        background-color: #051412;
        color: rgb(227, 238, 242);
    }
}