.homePage {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:   
    "intro intro"
    "user user"
    "feed side"
    ;
}


.welcome {
  text-align: center;
  padding: 20px;
  padding-bottom: 0;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.intro {
  grid-area: intro;
}

.user {
  display: flex;
  margin: 20px;
  align-items: center;
  grid-area: user;
}

.logout {
  cursor: pointer;
}

.usersImg {
  border-radius: 50%;
  margin-right: 15px;
}

.feed {
  grid-area: feed;
}
.sidebar {
  grid-area: side;
}


@media (max-width: 800px) {
.homePage {
    grid-template-areas:   
    "intro intro"
    "user user"
    "feed feed"
    "side side"
    ;
}
}
